<!DOCTYPE html>
<html ng-app="chatApp">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    
    <script>
      var environment = {
        host: "<%= locals.host %>",
        FBAppId: "<%= locals.FBAppId %>"
      }
    </script>
    <!-- Make responsive on iPhone/mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>

  <body ng-controller="chatCtrl">
    
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Controlc.me</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!--<li class="active"><a href="#">Home</a></li>-->
            <!--<li><a href="#about">About</a></li>-->
            <!--<li><a href="#contact">Contact</a></li>-->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">
      <div ng-cloak ng-show="pageState == 'showHomepage'">
        <h1>Your Secure Personal Clipboard</h1>
        <p><b>controlc.me</b> is for quickly and securely sharing text and links between your devices without installing 
          any apps. Just go to <b>controlc.me</b> and paste in your text.  It'll appear instantly on any other logged in device.</p>
        <p>Login to access your clipboard.  We don't ask for any additional Facebook permissions.</p>
        <div id="login-buttons" style="alignment: auto">
          <div id="fb-root"></div>
          <fb:login-button scope="public_profile,email" size="large" onlogin="checkLoginState();">
          </fb:login-button>
          <div id="status">
          </div>
        </div>
      </div>

      <div class="checkingLoggedIn" ng-cloak ng-show="pageState == 'checkingLoggedIn'">
        <h2>Loading... <img class="spinner" src="/images/spinner.gif"></h2>
      </div>
      
      <div ng-cloak ng-show="pageState == 'isLoggedIn'">
        <p></p>
        <form role="form">
          <div class="form-group">
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter text/url" ng-model="comment">
          </div>
          <button type="submit" class="btn btn-default" ng-click="submitComment()">Submit</button>
        </form>

        <h1>{{ user.first_name }}'s Clipboard</h1>
        <p ng-cloak ng-show="comments.length === 0">No comments yet!</p>
        <ul ng-cloak>
          <!-- todo: implement mime types -->
          <li ng-repeat="comment in comments">
            <div ng-show="commentType(comment) === 'url'">
              <a href="{{ comment.value }}">{{ comment.value }}</a>
            </div>
            <div ng-show="commentType(comment) === 'text'">
              {{ comment.value }}
            </div>
          </li>
        </ul>
      </div>
      
    </div><!-- /.container -->
  
  
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-resource.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/ng-chat-app.js"></script>
  </body>

</html>