<!DOCTYPE html>
<html ng-app="chatApp">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" />
    
    <script>
      var environment = {
        host: "<%= locals.host %>",
        FBAppId: "<%= locals.FBAppId %>"
      }
    </script>
    <!-- Make responsive on iPhone/mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>

  <body ng-controller="chatCtrl">
    <script>
    </script>
    
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Signal.io Example</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <!--<li class="active"><a href="#">Home</a></li>-->
            <!--<li><a href="#about">About</a></li>-->
            <!--<li><a href="#contact">Contact</a></li>-->
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container">

      <div ng-cloak ng-show="checkingLoggedIn">
        <h2>Checking login...</h2>
      </div>
      
      <div ng-cloak ng-hide="isLoggedIn || checkingLoggedIn">
        <h1>Login to access your personal clipboard.</h1>
        <aside>For login only - we'll never post anything on your behalf, nor save your public data.</aside>
        <div id="fb-root"></div>
        <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
        </fb:login-button>

        <div id="status">
        </div>
      </div>

      <div ng-cloak ng-show="isLoggedIn">
        <p></p>
        <form role="form">
          <div class="form-group">
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Enter comment" ng-model="comment">
          </div>
          <button type="submit" class="btn btn-default" ng-click="submitComment()">Submit</button>
        </form>


        <h1>{{ user.first_name }}'s Comments</h1>
        <p ng-cloak ng-show="comments.length === 0">No comments yet!</p>
        <ul ng-cloak>
          <!-- todo: implement mime types -->
          <li ng-repeat="comment in comments">{{ comment.value }}</li>
        </ul>
      </div>
      
    </div><!-- /.container -->
  
  
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-resource.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/ng-chat-app.js"></script>
  </body>

</html>